<div class="grid grid-cols-5 grid-rows-5 gap-4 h-full ">
    <!-- Categoría Hip-Hop -->
    <a href="/vinyls?gender=hip-hop" class="opacity-80 shadow-2xl shadow-green-900 categories relative col-span-2 col-start-3 row-start-2 bg-cover bg-center
      hover:scale-110 hover:bg-green-400/10 transition cursor-pointer" 
      style="background-image: url('/img-cover-categories/cover-hiphop.jpg'); border-radius: 1em;">
        <h1 class="absolute bottom-0 left-1/2 -translate-x-1/2 w-full bg-black bg-opacity-80 
            text-white text-center py-2 text-sm transition-all duration-300 ease-in-out opacity-90 
            group-hover:opacity-70" style="border-radius: 1em;">
            Hip-Hop
        </h1>
    </a>
    
    <!-- Categoría Urbano -->
    <a href="/vinyls?gender=urbano" class="opacity-80 shadow-2xl shadow-green-900 categories relative row-span-2 col-start-4 row-start-3 bg-cover bg-center hover:scale-110 
        hover:bg-green-400/10 transition cursor-pointer"
        style="background-image: url('/img-cover-categories/cover-urbano.jpg'); border-radius: 1em;">
        <h1 class="absolute bottom-0 left-1/2 -translate-x-1/2 w-full bg-black bg-opacity-80 text-white 
            text-center py-2 text-sm transition-all duration-300 ease-in-out opacity-90 
            group-hover:opacity-70" style="border-radius: 1em;">
            Urbano
        </h1>
    </a>
    
    <!-- Categoría Dance-Hall -->
    <a href="/vinyls?gender=dance-hall" class="opacity-80 shadow-2xl shadow-green-900 categories relative row-span-2 col-start-3 row-start-3 bg-cover bg-center hover:scale-110 
        transition cursor-pointer"
        style="background-image: url('/img-cover-categories/cover-dance-hall.jpg'); border-radius: 1em;">
        <h1 class="absolute bottom-0 left-1/2 -translate-x-1/2 w-full bg-black bg-opacity-80 text-white 
            text-center py-2 text-sm transition-all duration-300 ease-in-out opacity-90 
            group-hover:opacity-70" style="border-radius: 1em;">
            Dance-Hall
        </h1>
    </a>
    
    <!-- Categoría R&B/Pop -->
    <a href="/vinyls?gender=rnb" class="opacity-80 shadow-2xl shadow-green-900 categories relative row-span-3 col-start-2 row-start-2 bg-center hover:scale-110 
        hover:bg-green-400/10 transition cursor-pointer"
        style="background-image: url('/img-cover-categories/cover-r&b.jpg'); border-radius: 1em;">
        <h1 class="absolute bottom-0 left-1/2 -translate-x-1/2 w-full bg-black bg-opacity-80 text-white 
            text-center py-2 text-sm transition-all duration-300 ease-in-out opacity-90 
            group-hover:opacity-70" style="border-radius: 1em;">
            R&B/Pop
        </h1>
    </a>
</div>
