<header class="mx-auto">

  <nav class="fixed top-0 w-full bg-dark bg-black opacity-55 z-10 mx-auto flex  items-center justify-center p-6 lg:px-8">  
    <a href="http://localhost:4321/" ><img style="margin-right: 6rem; border-radius: 50%;" src="/public/logo.jpg"></a>
  <a href="/vinyls?gender=rnb" class="mx-2 text-white hover:scale-115 hover:text-green-600">r&b</a>
  <a href="/vinyls?gender=dance-hall" class="mx-2 text-white hover:scale-115 hover:text-green-600">Dance-hall</a>
  <a href="/vinyls?gender=hip-hop" class="mx-2 text-white hover:scale-115 hover:text-green-600">Hip-Hop</a>
  <a href="/vinyls?gender=urbano" class="mx-2 text-white hover:scale-115 hover:text-green-600">Urbano</a>
  
  </nav>
  
  </header>